* {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 140px;
  max-width: 1440px;
}

/* herobg */
.hero-bg {
  background: url("../assets//bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* shared styles */
.span-color {
  color: orange;
}
.color-pink {
  color: rgb(1, 172, 253);
  /* margin-left: -18px; */
}
.btn-primary {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  background: rgb(254, 163, 1);
  font-weight: 600;
  border: none;
}
.btn-secondary {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  font-size: 15px;
  color: white;
  background: rgb(0, 0, 0);
  border: none;
}
.opacity {
  opacity: 0.9;
}
/* nav styles here */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
}
.school-title {
  font-size: 30px;
  font-weight: 800;
}
a {
  text-decoration: none;
  font-size: 20px;
}
/* Nav-ites Style here */
.nav-2 {
  display: none;
}
.nav-items a {
  padding: 10px;
}
.home {
  color: Orange;
  font-family: "Quicksand", serif;
}
.about {
  color: Blue;
  font-family: "Quicksand", serif;
}
.Facilities {
  color: rgb(5, 212, 223);
  font-family: "Quicksand", serif;
}
.Admission {
  color: rgb(93, 88, 239);
  font-family: "Quicksand", serif;
}

/* hero-section here */
.hero-section {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  width: 550px;
}
.hero-title {
  font-family: Quicksand;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.img-conatiner {
  width: 468.61px;
  height: 575px;
}
.hero-subtitle {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
.enroll-btn {
  margin: 20px 0;
}
/* Cards section here */
.card-section {
  background-image: url(/assets/bg.png);
}
.cards-container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;
  max-width: 1440px !important;
  margin: 0 auto !important;
}
.card {
  text-align: center;
  justify-content: center;
  /* width: 367.8px; */
  height: 476.78px;
}
.card-title {
  font-size: 1.5rem;
  padding: 20px;
}
.card a {
  font-size: 12px;
}
.card-subtitle {
  padding: 20px;
}
#a-1 {
  color: orange;
}
#a-2 {
  color: blue;
}
#a-3 {
  color: rgb(228, 0, 0);
}
#card-1 {
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
#card-2 {
  padding-top: 15px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
#card-3 {
  padding-top: 15px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.header {
  padding-top: 20px;
}
.previous-btn,
.next-btn {
  font-size: 24px;
  color: aliceblue;
  padding: 5px;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: rgb(254, 163, 1);
}
.card-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.article-1 {
  /* width: 540.27px;
  height: 630.52px */
}
.story-img-container img {
  width: 100%;
  height: 337px;
  background: rgb(255, 255, 255);
  border-radius: 16px 16px 0px 0px;
}
.article-1 .date-btn {
  width: 174.51px;
  height: 47.93px;
  left: 38.35px;
  top: 314.14px;
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  border: none;
  color: white;
  margin-left: 38px;
}
.article-2 .date-btn {
  width: 174.51px;
  height: 40.93px;
  left: 38.35px;
  top: 314.14px;
  border-radius: 47.93px;
  background: rgb(149, 178, 38);
  border: none;
  color: white;
  margin-left: 38px;
}
.article-2 .article-2-2 .date-btn {
  width: 174.51px;
  height: 40.93px;
  left: 38.35px;
  top: 314.14px;
  border-radius: 47.93px;
  background: rgb(93, 88, 240);
  border: none;
  color: white;
  margin-left: 38px;
}
.story {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3),
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.story-btn {
  margin-top: -30px;
}
.story-titles {
  padding: 30px 38px;
}
.story-p {
  padding-top: 47px;
  padding-bottom: 34px;
}
.story-headline {
  text-align: center;
  padding-top: 100px;
  font-size: 46px;
}
.article-grid {
  display: flex;

  gap: 20px;
}
.article-1 {
  width: 50%;
  border-radius: 16px;
  background-color: white;
}

.img-conatiner img {
  width: 468px;
}

.hero-text {
  width: 640px;
}
.article-2 .article-2-2 {
  background-color: white;
  border-radius: 16px;
}
.article-2-1 {
  border-radius: 16px 16px 16px 16px;
  background-color: white;
}
.article-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
}
.story-img-container2 img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 169px;
}
.article-2 .story-titles {
  padding: 10px 35px;
  font-size: 15px;
}

.story-store-hading {
  text-align: center;
  padding: 30px 0 60px 0;
  font-size: 46px;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
}
.first-footer {
  width: 50%;
}
.footerr {
  padding: 70px 30px;
}
.footer-second {
  width: 30%;
}
.last-footer opacity {
  width: 20%;
}
.footer li {
  list-style-type: none;
  padding: 5px;
}
.footerr {
  background: rgb(1, 172, 253);
  color: white;
}
.footer-main {
  display: flex;
  align-items: center;
}
.last-footer h2 {
  padding: 5px;
  margin-bottom: 5px;
}

.footer-description {
  margin: 10px;
}
#btn-1 {
  background: rgb(93, 88, 240);
}
#btn-2 {
  background: orange;
}

/* responsive nav */
@media screen and (max-width: 576px) {
  .container {
    margin: 0 auto;
    padding: 0 30px;
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-title {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    padding-top: 20px;
  }

  .hero-text {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  .img-conatiner {
    width: 100%;
    height: 100%;
  }
  .img-conatiner img {
    width: 100%;
    height: 100%;
  }
  .nav {
    display: none;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .nav-2main {
    border: 1px solid orange;
  }
  .nav-2 {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .header {
    padding-top: 0px;
  }
  .cards-container {
    flex-direction: column;
    height: 100%;
  }
  .card-button {
    display: none;
  }
  .article-1 {
    display: none;
  }
  .article-2 {
    width: 100%;
  }

  .story-headline {
    font-size: 26px;
    padding: 40px 0 25px 0;
  }

  .story-store-hading {
    text-align: center;
    padding: 40px 0 30px 0;
    font-size: 26px;
  }
  .story-btn {
    margin-top: -22px;
  }
  .date-btn {
    height: 31.93px;
  }
  .article-2 .story-titles {
    font-size: 16px !important;
  }
  .article-2 .story-titles {
    padding: 20px;
    font-size: 15px;
  }
  .article-2 .date-btn {
    width: 120px;
    height: 30.93px;
    left: 0;
    top: 0;
    margin-left: 10px;
  }

  .article-2 .article-2-2 .date-btn {
    width: 120px;
    height: 30.93px;
    left: 0;
    top: 0;
    margin-left: 10px;
  }

  .story-btn button {
    font-size: 12px;
  }

  .footerr {
    padding: 50px 0;
  }
  .footer {
    flex-direction: column;
    gap: 20px;
  }

  .first-footer {
    width: 100%;
  }
  .footer-second {
    width: 100%;
  }
  .last-footer opacity {
    width: 100%;
  }
  .footer-description {
    margin-bottom: 20px;
  }
  .last-footer {
    margin-top: 25px;
  }
  .footer-second {
    margin-left: 10px;
  }
}

/* end project */
